/**
 * @version SVN: $Id: diff.css 499 2011-08-12 08:59:55Z elkuku $
 * @package    EasyCreator
 * @subpackage CSS
 * @author     Nikolai Plath (elkuku) {@link http://www.nik-it.de NiK-IT.de}
 * @author     Created on 20-Mar-2009
 */
table.diff {
	width: 100%;
	border: 1px solid gray;
	background-color: #fff;
/* 	font-size: 90%;
 */}

table.diff th {
	/* font-size: 95%; */
}

td.diff-addedline {
	background-color: #ffffbb;
}

td.diff-deletedline {
	background-color: #ddffdd;
}

table.diff td {
	/* font-family: monospace;
	font-size: 100%; */
}

table.diff td.diff-addedline strong {
	color: green;
	
}

table.diff td.diff-deletedline strong
	{
	color: red;
}
