@CHARSET "UTF-8";

/* Colors for SQL queries */

b.dbgOperator {
	color: orange;
}

span.dbgCommand {
	color: yellow;
}

span.dbgTable {
	color: orange;
}

div.dbgQuery {
	background-color: #000;
	color: #fff;
	font-family: monospace;
	font-weight: bold;
	font-size: 12px;
	padding: 0.5em;
	border-bottom: 1px solid gray;
}

div.dbgDump {
	padding-bottom: 3em;
}