@CHARSET "UTF-8";

a.internal.redlink {
	color: red;
}

a.external {
	background-image: url(../images/external_link.png);
	background-repeat: no-repeat;
	padding-left: 14px;
}

p.previewMessage {
	color: red;
	background-color: #ffc;
}

div.kisskuntentPreview {
	border: 1px dashed gray;
	padding: 0.3em;
}

a.active {
	font-weight: bold;
}

:target {
	border: 1px solid orange;
}